.no-shadow{
  -webkit-box-shadow: 0px 0px 0px 0px rgba(69, 65, 78, 0.1);
  -moz-box-shadow: 0px 0px 0px 0px rgba(69, 65, 78, 0.1);
  box-shadow: 0px 0px 0px 0px rgba(69, 65, 78, 0.1);
}
blockquote.quote-secondary {
    border-color: #6c757d;
}
blockquote {
    background: #fff;
    border-left: .7rem solid #007bff;
        border-left-color: rgb(0, 123, 255);
    margin: 1.5em .7rem;
    padding: .5em .7rem;
}
.progress {
  display: -ms-flexbox;
  display: flex;
  height: 1rem;
  overflow: hidden;
  font-size: 0.75rem;
  background-color: #e9ecef;
  border-radius: 0.25rem;
  box-shadow: inset 0 0.1rem 0.1rem rgba(0, 0, 0, 0.1);
}

.progress-bar {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: center;
  justify-content: center;
  color: #ffffff;
  text-align: center;
  white-space: nowrap;
  background-color: #007bff;
  transition: width 0.6s ease;
}


.select2-container--default.select2-container--focus, .select2-container--default:focus, .select2-container--default:active,
.select2-selection.select2-container--focus,
.select2-selection:focus,
.select2-selection:active {
  outline: none;
}

.select2-container--default .select2-selection--single,
.select2-selection .select2-selection--single {
  border: 1px solid #d2d6de;
  padding: 6px 12px;
  height: calc(2.25rem + 2px);
}

.select2-container--default.select2-container--open {
  border-color: #007bff;
}

.select2-dropdown {
  border: 1px solid #d2d6de;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: #007bff;
  color: white;
}

.select2-results__option {
  padding: 6px 12px;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-select: none;
}

.select2-container .select2-selection--single .select2-selection__rendered {
  padding-left: 0;
  padding-right: 0;
  height: auto;
  margin-top: -3px;
}

.select2-container[dir="rtl"] .select2-selection--single .select2-selection__rendered {
  padding-right: 6px;
  padding-left: 20px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 31px;
  right: 6px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
  margin-top: 0;
}

.select2-dropdown .select2-search__field,
.select2-search--inline .select2-search__field {
  border: 1px solid #d2d6de;
}

.select2-dropdown .select2-search__field:focus,
.select2-search--inline .select2-search__field:focus {
  outline: none;
  border: 1px solid #007bff;
}

.select2-container--default .select2-results__option[aria-disabled=true] {
  color: #999;
}

.select2-container--default .select2-results__option[aria-selected=true] {
  background-color: #ddd;
}

.select2-container--default .select2-results__option[aria-selected=true], .select2-container--default .select2-results__option[aria-selected=true]:hover {
  color: #444;
}

.select2-container--default .select2-selection--multiple {
  min-height: calc(2.25rem + 2px);
  border: 1px solid #d2d6de;
}

.select2-container--default .select2-selection--multiple:focus {
  border-color: #007bff;
}

.select2-container--default .select2-selection--multiple .select2-selection__rendered li:first-child.select2-search.select2-search--inline {
  width: 100%;
}

.select2-container--default .select2-selection--multiple .select2-selection__rendered li:first-child.select2-search.select2-search--inline .select2-search__field {
  width: 100% !important;
}

.select2-container--default.select2-container--focus .select2-selection--multiple {
  border-color: #d2d6de;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
  background-color: #007bff;
  border-color: #006fe6;
  padding: 0 10px;
  color: #ffffff;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
  margin-right: 5px;
  color: rgba(255, 255, 255, 0.7);
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove:hover {
  color: #ffffff;
}

.select2-container .select2-selection--single .select2-selection__rendered li {
  padding-right: 10px;
}

.slider.slider-vertical {
  height: 100%;
}

.slider.slider-horizontal {
  width: 100%;
}

.slider-primary .slider .slider-selection {
  background: #007bff;
}

.slider-secondary .slider .slider-selection {
  background: #6c757d;
}

.slider-success .slider .slider-selection {
  background: #28a745;
}

.slider-info .slider .slider-selection {
  background: #17a2b8;
}

.slider-warning .slider .slider-selection {
  background: #ffc107;
}

.slider-danger .slider .slider-selection {
  background: #dc3545;
}

.slider-light .slider .slider-selection {
  background: #f8f9fa;
}

.slider-dark .slider .slider-selection {
  background: #343a40;
}

.slider-navy .slider .slider-selection {
  background: #001f3f;
}

.slider-olive .slider .slider-selection {
  background: #3d9970;
}

.slider-lime .slider .slider-selection {
  background: #01ff70;
}

.slider-fuchsia .slider .slider-selection {
  background: #f012be;
}

.slider-maroon .slider .slider-selection {
  background: #d81b60;
}

.slider-blue .slider .slider-selection {
  background: #007bff;
}

.slider-indigo .slider .slider-selection {
  background: #6610f2;
}

.slider-purple .slider .slider-selection {
  background: #6f42c1;
}

.slider-pink .slider .slider-selection {
  background: #e83e8c;
}

.slider-red .slider .slider-selection {
  background: #dc3545;
}

.slider-orange .slider .slider-selection {
  background: #fd7e14;
}

.slider-yellow .slider .slider-selection {
  background: #ffc107;
}

.slider-green .slider .slider-selection {
  background: #28a745;
}

.slider-teal .slider .slider-selection {
  background: #20c997;
}

.slider-cyan .slider .slider-selection {
  background: #17a2b8;
}

.slider-white .slider .slider-selection {
  background: #ffffff;
}

.slider-gray .slider .slider-selection {
  background: #6c757d;
}

.slider-gray-dark .slider .slider-selection {
  background: #343a40;
}



.nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.nav-pills .nav-link {
  color: #6c757d;
}

.nav-pills .nav-link:not(.active):hover {
  color: #007bff;
}

.nav-pills .nav-item.dropdown.show .nav-link:hover {
  color: #ffffff;
}

.nav-tabs.flex-column {
  border-bottom: 0;
  border-right: 1px solid #dee2e6;
}

.nav-tabs.flex-column .nav-link {
  margin-right: -1px;
}

.nav-tabs.flex-column .nav-link:hover, .nav-tabs.flex-column .nav-link:focus {
  border-color: #e9ecef #dee2e6 #e9ecef #e9ecef;
}

.nav-tabs.flex-column .nav-link.active,
.nav-tabs.flex-column .nav-item.show .nav-link {
  border-color: #dee2e6 #ffffff #dee2e6 #dee2e6;
}

.nav-tabs.flex-column.nav-tabs-right {
  border-left: 1px solid #dee2e6;
  border-right: 0;
}

.nav-tabs.flex-column.nav-tabs-right .nav-link {
  margin-left: -1px;
}

.nav-tabs.flex-column.nav-tabs-right .nav-link:hover, .nav-tabs.flex-column.nav-tabs-right .nav-link:focus {
  border-color: #e9ecef #e9ecef #e9ecef #dee2e6;
}

.nav-tabs.flex-column.nav-tabs-right .nav-link.active,
.nav-tabs.flex-column.nav-tabs-right .nav-item.show .nav-link {
  border-color: #dee2e6 #dee2e6 #dee2e6 #ffffff;
}

.nav-tabs {
  border-bottom: 1px solid #dee2e6;
}

.nav-tabs .nav-item {
  margin-bottom: -1px;
}

.nav-tabs .nav-link {
  border: 1px solid transparent;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

.nav-tabs .nav-link:hover, .nav-tabs .nav-link:focus {
  border-color: #e9ecef #e9ecef #dee2e6;
}

.nav-tabs .nav-link.disabled {
  color: #6c757d;
  background-color: transparent;
  border-color: transparent;
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
  color: #495057;
  background-color: #ffffff;
  border-color: #dee2e6 #dee2e6 #ffffff;
}

.nav-tabs .dropdown-menu {
  margin-top: -1px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.nav-tabs.flex-column.nav-tabs-right {
  border-left: 1px solid #dee2e6;
  border-right: 0;
}

.nav-tabs.flex-column.nav-tabs-right .nav-link {
  margin-left: -1px;
}

.nav-tabs.flex-column.nav-tabs-right .nav-link:hover, .nav-tabs.flex-column.nav-tabs-right .nav-link:focus {
  border-color: #e9ecef #e9ecef #e9ecef #dee2e6;
}

.nav-tabs.flex-column.nav-tabs-right .nav-link.active,
.nav-tabs.flex-column.nav-tabs-right .nav-item.show .nav-link {
  border-color: #dee2e6 #dee2e6 #dee2e6 #ffffff;
}

.tab-content > .tab-pane {
  display: none;
}

.tab-content > .active {
  display: block;
}



.btn-circle {
    text-align: center;
    border-radius: 50% !important;
    width: 30px;
    height: 30px;
    padding: 5px;
    font-size: 12px;
}
.btn, .btn:active, .btn:focus, .btn:focus:active {
    outline: 0 !important;
}

.btn-circle {
    text-align: center;
    border-radius: 50% !important;
    width: 30px;
    height: 30px;
    padding: 5px;
    font-size: 12px;
}
.btn-circle.btn-xxl {
    width: 90px;
    height: 90px;
    padding: 7px;
    font-size: 30px;
}

.btn-circle.btn-group.btn-group-xl .btn, .btn-circle.btn-toolbar.btn-toobar-xl .btn, .btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 6px;
    font-size: 24px;
}
.btn-circle.btn-lg, .btn-circle.btn-toolbar.btn-toobar-lg .btn {
    width: 50px;
    height: 50px;
    padding: 6px;
    font-size: 17px;
}

.btn-circle.btn-sm, .btn-circle.btn-toolbar.btn-toobar-sm .btn {
    width: 20px;
    height: 20px;
    padding: 1px;
    font-size: 9px;
}


/*     Form file upload    */

.form-group label {
  font-size: 1rem;
  line-height: 1.4rem;
  vertical-align: top;
  margin-bottom: .5rem;
}

.form-group.has-danger .form-control, .form-group.has-danger .typeahead,
.form-group.has-danger .tt-query,
.form-group.has-danger .tt-hint {
  border-color: #ee5b5b;
}
.form-group .file-upload-default {
  visibility: hidden;
  position: absolute;
}

.form-group .file-upload-info {
  background: transparent;
}

::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button;
}

.btn-store {
  min-width: 200px;
  padding: 12px 20px !important;
}

.btn-store:focus, 
.btn-store:hover {
  color: #ffffff !important;
  background-color: #168eea;
  border-color: #168eea !important;
}

.btn-store .btn-label, 
.btn-store .btn-caption {
  display: block;
  text-align: left;
  line-height: 1;
}

.btn-store .btn-caption {
  font-size: 24px;
}

/* Toggle Switch */
.toggle-switch {
  position: relative;
  display: inline-block;
  width: 48px;
  height: 25px;
}

.toggle-switch .toggle-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #e9ecef;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 34px;
  border: 1px solid #f1f6f8;
}

.toggle-switch .toggle-slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: #ffffff;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

.toggle-switch input {
  visibility: hidden;
}

.toggle-switch input:checked + .toggle-slider {
  background-color: #464dee;
}

.toggle-switch input:checked + .toggle-slider:before {
  -webkit-transform: translateX(23px);
  -ms-transform: translateX(23px);
  transform: translateX(23px);
}

.toggle-switch.toggle-switch-primary input:checked + .toggle-slider {
  background-color: #464dee;
}

.toggle-switch.toggle-switch-secondary input:checked + .toggle-slider {
  background-color: #d8d8d8;
}

.toggle-switch.toggle-switch-success input:checked + .toggle-slider {
  background-color: #0ddbb9;
}

.toggle-switch.toggle-switch-info input:checked + .toggle-slider {
  background-color: #0ad7f7;
}

.toggle-switch.toggle-switch-warning input:checked + .toggle-slider {
  background-color: #fcd53b;
}

.toggle-switch.toggle-switch-danger input:checked + .toggle-slider {
  background-color: #ee5b5b;
}

.toggle-switch.toggle-switch-light input:checked + .toggle-slider {
  background-color: #d8d8d8;
}

.toggle-switch.toggle-switch-dark input:checked + .toggle-slider {
  background-color: #001737;
}


.table-bg-yellow{
  
  background: #FFAD46 !important;
  color: #ffffff !important;
  border: 0px !important;
}

/*   Smart Wizard    */
.sw-main  ul li a small
{
    padding-right: 50px;
}